body{
  padding: 25px;
  background-image: linear-gradient(#96c0ff,white);
}
.blue {
	color: #0078e8;
}
.grid {
  display:grid;
  grid-template-columns: 25% 75%;
}
.col1 {grid-column:1;}
.col2 {grid-column:2;}

.textbox {
  text-align: center;
  font-family: "Courier New";
  border:4px dashed grey;
  background-color:#f0f0f0;
  margin:20px;
}
.pink {
  color:#ff00fb;
  font-size:22px;
}
.pTextbox {
  text-align: center;
  font-family: "Courier New";
  border:4px dashed #c906a9;
  background-color:#ff59e3;
  margin:20px;
}
.btb {
  text-align: center;
  font-family: "Courier New";
  border:4px dashed #0057c9;
  background-color:#96c0ff;
  margin:20px;
}
.purp {
  color:#ff007b;
}
.imagebox {
  display:flex;
  justify-content: center;
  width:auto;
  height:auto;
}
a {
  color:#ff007b;
}
